<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>CTRnet Search</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet_cluster.css"/>
	<div id="header">
		<h1>Crisis, Tragedy and Recovery Network</h1>
	
	<ul id="globalnav">
		<li><a href="http://www.ctrnet.net/">Home</a></li>
		<li><a href="http://www.ctrnet.net/clouds">Word Clouds</a></li>
		<li><a href="http://www.ctrnet.net/locations">Locations</a></li>
		<li><a href="http://www.ctrnet.net/node/2936">Sub Projects</a></li>
		<li><a href="http://www.ctrnet.net/publications">Publications</a></li>
		<li><a href="http://www.ctrnet.net/othercollections">Other Collections</a></li>
		<li><a href="http://www.ctrnet.net/webinars">Webinars</a></li>
		<li><a href="http://www.ctrnet.net/about">About</a></li>
		<li><a href="http://www.ctrnet.net/faqs">FAQS</a></li>
	</ul>
	</div>
</head>
<body>

<div class="search-box">
	<form action="search" method="post">
		<input type="text" placeholder="Search..." class="box" name="query" value="" size="35" maxlength="40" />
	  {#	<input type="submit" value="Search" class="box_submit"/> #}	</form>
</div>

<div id="number1" class="number1">
	<div class="clusterTitle">Cluster Id : 8061</div>
	{% for doc in parameters['8061'] %}
		<div class="document">
{#		{% if doc['tika_og:image'] is defined %}
			 <img src="{{ doc['tika_og:image'][0]  }}" height="70" width="70">	
		{% endif %} #}
		{% if doc['tika_title'] is defined %}
                                        <div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI']|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname']|e }})</div>
                                {% elif doc['warc_WARC-Target-URI'] is defined %}
                                <div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'] }}" target="_blank">{{ doc['warc_WARC-Target-URI']|e }}</a></div>
		 {% endif %}
		 {% if doc['tika_description'] is defined %}
                                        {% if doc['tika_description']|length > 2 %}
                                                <div class='description' >{{ doc['tika_description']|truncate(100)  }}</div>
                                        {% endif %}
                 {% endif %}
		</div>

	{% endfor %}
</div>

<div id="number2" class="number2">
	
	<div class="clusterTitle">Cluster Id : 7942</div>
	 {% for doc in parameters['7942'] %}
        	<div class="document">  
{#	        {% if doc['tika_og:image'] is defined %}
                         <img src="{{ doc['tika_og:image'][0]  }}" height="70" width="70">
                {% endif %}
#}
	      {% if doc['tika_title'] is defined %}
                                        <div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI']|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname']|e }})</div>
                                {% elif doc['warc_WARC-Target-URI'] is defined %}
                                <div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'] }}" target="_blank">{{ doc['warc_WARC-Target-URI']|e }}</a></div>
      		{% endif %}
	   {% if doc['tika_description'] is defined %}
                                        {% if doc['tika_description']|length > 25 %}
                                                <div class='description' >{{ doc['tika_description']|truncate(100) }}</div>
                                        {% endif %}
          {% endif %}
		</div>
	  {% endfor %}
</div>

<div id="number3" class="number3">
	<div class="clusterTitle">ClusterId : 8037</div>
	 {% for doc in parameters['8037'] %}
             	<div class="document">
{#			{% if doc['tika_og:image'] is defined %}
                         <img src="{{ doc['tika_og:image'][0]  }}" height="70" width="70">
                {% endif %}
#}
		   {% if doc['tika_title'] is defined %}
                                        <div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI']|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname']|e }})</div>
                                {% elif doc['warc_WARC-Target-URI'] is defined %}
                                <div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'] }}" target="_blank">{{ doc['warc_WARC-Target-URI']|e }}</a></div>
      		 {% endif %}
		 {% if doc['tika_description'] is defined %}
                                        {% if doc['tika_description']|length > 25 %}
                                                <div class='description' >{{ doc['tika_description']|truncate(100) }}</div>
                                        {% endif %}
                 {% endif %}
		</div>
         {% endfor %}
</div>

<div id="number4" class="number4">
	<div class="clusterTitle">ClusterId : 8039</div>
 {% for doc in parameters['8039'] %}
		
                <div class="document">
{#		{% if doc['tika_og:image'] is defined %}
                         <img src="{{ doc['tika_og:image'][0]  }}" height="70" width="70">
                {% endif %}
#}
		{% if doc['tika_title'] is defined %}
                                        <div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI']|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname']|e }})</div>
                                {% elif doc['warc_WARC-Target-URI'] is defined %}
                                <div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'] }}" target="_blank">{{ doc['warc_WARC-Target-URI']|e }}</a></div>
   		 {% endif %} 
		 {% if doc['tika_description'] is defined %}
                                        {% if doc['tika_description']|length > 25 %}
                                                <div class='description' >{{ doc['tika_description']|truncate(100) }}</div>
                                        {% endif %}
                 {% endif %}
 		</div>
      {% endfor %}
</div>

<div id="number5" class="number5">
	<div class="clusterTitle">ClsuterId : 7983</div>
	 {% for doc in parameters['7983'] %}
        	<div class="document">  
{#		{% if doc['tika_og:image'] is defined %}
                         <img src="{{ doc['tika_og:image'][0]  }}" height="70" width="70">
                {% endif %}
#}
	      {% if doc['tika_title'] is defined %}
                                        <div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI']|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname']|e }})</div>
                                {% elif doc['warc_WARC-Target-URI'] is defined %}
                                <div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'] }}" target="_blank">{{ doc['warc_WARC-Target-URI']|e }}</a></div>
   		 {% endif %}  
		 {% if doc['tika_description'] is defined %}
                                        {% if doc['tika_description']|length > 25 %}
                                                <div class='description' >{{ doc['tika_description']|truncate(100) }}</div>
                                        {% endif %}
                 {% endif %}
		</div>
      {% endfor %}
</div>

</body>
</html>
