<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CTRnet Search</title>
</head>
<body>
<h2>Welcome to the Search Engine for CTRnet Events</h2>

<form action="search" method="post">
	<p> Please Enter your query </p>
	<input type="text" name="query" value="" size="35" maxlength="40" />
	<p><input type="submit" value="Search"/> <input type="reset" value="Clear"/></p>
</form>
</body>
</html>
