<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
		<title>CTRnet Search</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="/css/jquery.lint.js" type="text/javascript"></script>
		<script src="/css/script.js" type="text/javascript"></script>
	</head>
	<body>
		<div align="center" class="query-box">
			<form action="search" method="post">
        			<input type="text" name="query" value="{{ parameters.originalQuery }}"  style="width: 370px; height:25px;"  maxlength="60" />
        			<p><input type="submit" value="Search"/> <input type="reset" value="Clear"/></p>
			</form>
		</div>
		<div id='numFound'>{{ parameters.numFound }}  results found for query '{{ parameters.originalQuery }}' 
			<br/> {% if parameters['fq'] is defined %}
                                Results with filter {% for each in parameters['fq'] %} {{ each }} {% endfor %}
                        {% endif %}

		 </div>
{# 		{{ parameters['url'] }} #}
		<div class='facets' >

			{% for eachFacet, facetValues in parameters.facets['facet_fields'].iteritems() %}		
				
				{% if parameters.facets['facet_fields'][eachFacet]|length > 0 %}
					<div class='facet_results'>
						<p class='facet_title'>{{ eachFacet }}</p>
						{% for field, value in facetValues.iteritems()  %}
							<p class='facet_value'><a style="text-decoration:none;" href='{{ parameters['url']|e }}&amp;fq={{ eachFacet }}:"{{ field }}"'>{{ field }}({{ value }})</a></p>
						{% endfor %}
					</div>
				{% endif %}
				
			{% endfor %}
		</div>
		<div class="search-results">
			{% for doc in parameters.docs %}
				<div class="document">
				{% if doc['tika_title'] is defined %}
					<div class='title' ><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'][0]|e }}" target="_blank">{{ doc['tika_title'][0]|e }}</a>  ({{ doc['warc_hostname'][0]|e }})</div>
				{% elif doc['warc_WARC-Target-URI'] is defined %}
				<div class='title'><a style="text-decoration:none" href="{{ doc['warc_WARC-Target-URI'][0] }}" target="_blank">{{ doc['warc_WARC-Target-URI'][0]|e }}</a></div>
				{% endif %}
	 	{#		{% if doc['tika_title'] is defined %}
				<div class='title'>{{ doc['tika_title'][0] }}</div>
				{% endif %}
				{% if doc['warc_WARC-Target-URI'] is defined %}
					<div class='source_link'><a href="{{ doc['warc_WARC-Target-URI'][0] }}" target="_blank">source</a></div>
				{% endif %}
			        {% if doc['tika_author'] is defined %}
                			<p >Author: {{ doc['tika_author'][0] }}</p>
       				 {% endif %}
        			{% if doc['tika_keywords'] is defined %}
                			<p >Keywords: {{ doc['tika_keywords'][0] }}</p>
       				 {% endif %}
		
				  {% if doc['distanceToCentroid'] is defined %}
                               		 <div class='centroid'>{{ doc['distanceToCentroid']|e }}</div>
                                {% endif %}
	#}
				{% if doc['tika_description'] is defined %}
					{% if doc['tika_description']|length > 25 %}
						<div class='description' >{{ doc['tika_description'] }}</div>
					{% endif %}
				{% endif %}
				  {% if parameters.highlights[doc['id']]['text'] is defined %}
                                        <div class="highlight">{{ parameters.highlights[doc['id']]['text'][0]|e }}</div>
                                {% endif %}
					
				<button id="button_{{ doc['id'][10:][:-1] }}" class="button">Show/Hide Text</button>
				<div id="description_button_{{ doc['id'][10:][:-1] }}">{{ doc['text']|e }}</div>
				</div>
			{% endfor %}
		
		</div>

		<div align="center" class="pagination">
			<a href='{{ parameters['url']|e }}&amp;page={{ 0 }}'>1</a>
			{% if parameters.pagenumber+1 != parameters.noOfPages  %}
        			<a href='{{ parameters['url']|e }}&amp;page={{ parameters.pagenumber+1 }}'>Next</a>
			{% endif %}
			{% if parameters.noOfPages != 1 %}
				<a href='{{ parameters['url']|e }}&amp;page={{ parameters.noOfPages }}'>{{ parameters.noOfPages }}</a>
			{% endif %}
			(Page {{ parameters.pagenumber+1 }} in {{ parameters.noOfPages }})
		</div>
	</body>
</html>
